#sidebar {
    background-color: #343434;
    color: #dfdfdf;
    min-height: 100vh;
    box-shadow: 5px 0 5px -5px #333;
}

#sidebar a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: #dfdfdf;
    padding-left: 0;
}

#sidebar a:hover {
    color: #a8a8a5;
}

.icons {
    font-size: 30px;
    height: 35px;
}

.bg-grey {
    background-color: #343434 !important;
}

.link-position {
    float: right;
}

.link-position a {
    text-decoration: none;
    color: white;
}

.bi-pencil-square,
.bi-archive-fill,
.bi-x-circle,
.bi-image,
.bi-clipboard2-check-fill {
    color: #343434 !important;
}
.bi-pencil-square:hover,
.bi-archive-fill:hover,
.bi-x-circle:hover,
.bi-image:hover {
    color: #a8a8a5 !important;
}
a .bi-clipboard2-check-fill:hover {
    color: green !important;
}

th a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
th:hover {
    background-color: #a8a8a5 !important;
}

.form-check-input:checked {
    background-color: #343434;
    border-color: #343434;
}

@media screen and (max-width: 575px) {
    #sidebar {
        min-height: 30vh;
    }
}
