#sidebar {
    background-color: #343434;
    color: #dfdfdf;
    min-height: 100vh;
    box-shadow: 5px 0 5px -5px #333;
    position: sticky;
    top: 0;
}

#sidebar a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: #dfdfdf;
    padding-left: 0;
}

#sidebar a:hover {
    color: #a8a8a5;
}

.icons {
    font-size: 30px;
    height: 35px;
}

.bg-grey {
    background-color: #343434 !important;
}

.link-position {
    float: right;
}

.link-position a {
    text-decoration: none;
    color: white;
}

.bi-pencil-square {
    color: #343434;
}
.bi-pencil-square:hover {
    color: #a8a8a5;
}

.bi-x-circle {
    color: #343434 !important;
}

.bi-x-circle:hover {
    color: #a8a8a5;
}

th a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 575px) {
    #sidebar {
        min-height: 30vh;
    }
}
